.bookmark-with-favicon{
    /* border-bottom: solid 1px lightgray; */
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}

.bookmark-with-favicon:hover{
    background-color: rgb(220, 220, 220);
}

.favicon{
    justify-self: center;
}

.page-name{
    justify-self: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    width: 90%;
}